<div class="container-fluid GIT">
    <h1 class="about-head "  style="font-size: 55px; font-weight: 700;"> Get in touch <span style="font-size: 55px; font-weight: 500; padding-top: 0px;">with us</span></h1>
    
</div>

<footer class="footer-dark"> <div class="container1 ">
    <div class="row">
        <div class="col-sm-6  col-lg-3 item">
            <h3>Our Company</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Our product range</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="col-sm-6  col-lg-3 item">
            <h3>Reach Us</h3>
            <div class="reachus text " >
                <div class="row">
                <p><span class="material-icons" >
                    place
                    </span> 247 Jaswant Nagar Khatipura,<br>
                    Jaipur-302012, Rajasthan, India</p>    
                </div>
                <div class="row">
                        <a href="#"><i class="fab fa-linkedin fa-2x"></i></a>
                        <a href="#"><i class="fab fa-facebook-square fa-2x"></i></a>
                        <a href="#"><i class="fab fa-twitter-square fa-2x"></i></a>

                    </div>
            </div>
        </div>
        <div class=" col-lg-6 message item text">
            <h3>Leave a message, we will call you back</h3>
            <form action="/" method="post">
                <textarea name="message"  required class="search-box" placeholder="" ></textarea>
                
               
        </div>
        <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
    </div>
    <p class="copyright">Modish Group © 2021</p>
</div></footer>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
</body>
</html>