<%- include("partials/header")  -%> 
<div class="banner ban container-fluid" style=" padding: 0%; " >
<br>
 <div class="text1">
    <p class="about-head"  style=" font-weight: 400; color: black;line-height: normal; margin-bottom: 0px;">We have wide</p></br><span style="font-size: 55px; font-weight: 700; color: #2863A2; line-height: normal;">Range of clothing</span></h1></br>
    
       <div class="but">  <a class="btn btn1 btn-primary btn-lg" href="#" role="button">Explore More</a>
       </div></div></div>
</div>

<div class="banner2 ban container-fluid">
    
    <div class="text2">
        <h1 class="about-head"  style="font-size: 55px; font-weight: 400; color: white;line-height: normal; margin-bottom: 0px;">We have wide</h1></br><span style="font-size: 55px; font-weight: 700; color: white; line-height: normal;">Range of coal</span></h1></br>
        
           <div class="but">  <a class="btn btn1 btn-primary btn-lg" href="#" role="button">Explore More</a>
           </div></div></div>
</div>
<div class="banner3 ban container-fluid">
    <img style="width: auto; height: 400px; float: right; padding-right: 70px; padding-top: 70px;" src="images\Mask Group 24.png" alt="">
    <div class="text3">
        <h1 class="about-head"  style="font-size: 55px; font-weight: 400; color: #2863A2;line-height: normal; margin-bottom: 0px;">We have wide</h1></br><span style="font-size: 55px; font-weight: 700; color: #2863A2; line-height: normal;">Range of Electronics.</span></h1></br>
        
           <div class="but">  <a class="btn btn1 btn-primary btn-lg" href="#" role="button">Explore More</a>
           </div></div></div>
</div>
<div class="banner4 ban container-fluid">
    <div class="text2">
        <h1 class="about-head"  style="font-size: 55px; font-weight: 400; color: white;line-height: normal; margin-bottom: 0px;">We have wide</h1></br><span style="font-size: 55px; font-weight: 700; color: white; line-height: normal;">Range of furniture.</span></h1></br>
        
           <div class="but">  <a class="btn btn1 btn-primary btn-lg" href="#" role="button">Explore More</a>
           </div></div></div>
</div>
<div class="banner5 ban container-fluid">
    <div class="text2" style="float: right; padding-right: 40px;">
        <h1 class="about-head"  style="font-size: 55px; font-weight: 400; color: white;line-height: normal; margin-bottom: 0px; float: right;">We have wide</h1></br><span style="font-size: 55px; font-weight: 700; color: white; line-height: normal; float: right;">Range of Shoes.</span></h1></br>
        
           <div class="but" style="float: right;">  <a class="btn btn1 btn-primary btn-lg" href="#" role="button">Explore More</a>
           </div></div></div>
</div>
<div class="banner6 ban container-fluid">
    <div class="text2" style="float: right; padding-right: 40px;">
        <h1 class="about-head"  style="font-size: 55px; font-weight: 400; color: white;line-height: normal; margin-bottom: 0px; float: right;">We have wide</h1></br><span style="font-size: 55px; font-weight: 700; color: white; line-height: normal; float: right;">Range of Cycles.</span></h1></br>
        
           <div class="but" style="float: right;">  <a class="btn btn1 btn-primary btn-lg" href="#" role="button">Explore More</a>
           </div></div></div>
</div>
<div class="banner7 ban container-fluid">
    <div class="text2" style="float: right; padding-right: 40px;">
        <h1 class="about-head"  style="font-size: 55px; font-weight: 400; color: white;line-height: normal; margin-bottom: 0px; float: right;">We have wide</h1></br><span style="font-size: 55px; font-weight: 700; color: white; line-height: normal; float: right;">Range of Spices.</span></h1></br>
        
           <div class="but" style="float: right;">  <a class="btn btn1 btn-primary btn-lg" href="#" role="button">Explore More</a>
           </div></div></div>
</div>
<%- include("partials/footer")  -%> 
