<%- include("partials/header")  -%> 

<div class="hero">
    
        <!-- <img src="images/hero.png" alt="background image" > -->
        <div class="centered">
            <h1 class="hero-head">Welcome to <span>Modish Group</span></h1>
           <p class="hero-text">Modish Group is a reputed and well-established firm<br>
                and is in the wholesaling business since 2012 and has<br>
                been making a positive impact since then.</p>
                <a class="btn btn1 btn-primary btn-lg" href="#" role="button">Explore More</a>
        </div>
        
</div>
<div class="parallax">
   
   <div>
       <img style="height: 620px; width: 100%;" src="images/cover.png" alt="cover"  style="background-repeat: repeat;">
   </div>  
</div>
<div class="about">
    
        <h1 class="about-head"  style="font-size: 55px; font-weight: 700;"> About <span style="font-size: 55px; font-weight: 500;">Us</span></h1>
      <p class="about-text">Established as a Proprietor firm in the year 2012 at Jaipur (Rajasthan, India), we “Modish<br>
        Group” are a leading Wholesale Trader of a wide range of Coal, Aluminum, Copper, Iron<br>
        (Indonesian), Electronics, Clothes, Shoes, Furniture, Cycles , Cereals. We procure these<br>
        products from the most trusted and renowned vendors after stringent market analysis.<br>
        Further, we offer these products at reasonable rates and deliver these within the<br>
        promised time-frame. Under the headship of “Mr. Virendra Rathore” (Owner), we have<br>
        gained a huge clientele across the nation.<br>
        </p>
    
    <a class="btn btn1 btn-primary btn-lg" href="#" role="button" > Know More </a>
</div>


<div class="parallax2">
<div >
    <img style="height: 620px; width: 100%;" src="images/cover.png" alt="cover" style="background-repeat: repeat;" >
</div>
</div>
<div class="container-fluid products">
    
    <div class="row roow">
    <div class="card" style="width: 21rem;">
        <img src="images/pcards1.png" class="card-img-top" alt="Buy Coal" >
        
         
          <a href="#" class="btn btn1 btn-primary">Mineral</a>
        
      </div>
      <div class="card" style="width: 21rem; ">
        <img src="images/pcards2.png" class="card-img-top" alt="...">
        
         
          <a href="#" class="btn btn1 btn-primary">Electronics</a>
        
      </div> <div class="card" style="width: 21rem;">
        <img src="images/pcards3.png" class="card-img-top" alt="...">
        
         
          <a href="#" class="btn btn1 btn-primary">Cereals</a>
        
      </div> <div class="card" style="width: 21rem;">
        <img src="images/pcards4.png" class="card-img-top" alt="...">
        
         
          <a href="#" class="btn btn1 btn-primary">Clothes</a>
        
      </div>
    </div>
    <h1 class="about-head "  style="font-size: 55px; font-weight: 700;"> Our <span style="font-size: 55px; font-weight: 500; padding-top: 0px;">Products</span></h1>
</div>

<%- include("partials/footer")  -%> 