<%- include("partials/header")  -%> 

<div class="hero">
    
        <!-- <img src="images/hero.png" alt="background image" > -->
        <div class="centered">
            <p class="hero-head">Welcome to <span>Modish Group</span></p>
           <p class="hero-text">Modish Group is a reputed and well-established firm<br>
                and is in the wholesaling business since 2012 and has<br>
                been making a positive impact since then.</p>
                <a class="btn btn-primary btn-lg" href="#" role="button">Explore More</a>
        </div>
        
</div>
<div class="parallax">
   
   <div>
       <div style="background-color:#92C0E2 ; opacity: 50%; height: 620px; width: max-content;"></div>
   </div>
       
       
</div>
<%- include("partials/footer")  -%> 