@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font: inherit;
font: initial;
font: unset;


    
    /* background-color:#24252a; */
  
}
body{
  overflow-x:hidden;
    background-color:white;
    font-family: Poppins;
    font-weight: 400;
    position: relative;
}


.GIT h1{
  font-size: 45px;
    color: white;
    padding-left: 108px;
    
}
.h1, h1{
    
    font-weight: 700px;
   
}
/* //////////////////////////////////////////////////////////////HOME CSS//////////////////////////////////////////////////////////////////////////////////////////// */
/* navbar css */
.header{
 
  position: fixed;
  z-index: 3;
  left: 10%;
  align-items: center;
}
.header a{
  text-decoration: none;
}
.text-blue-500{
      color: #2863A2;

}


/* hero section css */


.hero{
    width: 100%;
    height: 112vh;

    
 background-image: url("images/hero.png");
 background-position: center;
background-repeat: no-repeat;
background-size: cover;
  overflow: hidden;
  display: grid;
  place-items: center;
}
.centered {
    padding-top: 5%;
    display: grid;
place-items: center;
  }

  .hero-head {
    text-align: center;
    width: 100%;
    font-size: 50px;
    font-weight: 500;
     
  }
  .hero-head span{
   font-weight: 700;
      color: #2863A2;
    
  }


.hero-text{
    font-weight: 500;
    text-align: center;
    font-size: 22px;
}
.btn1{
    background-color: #2863A2;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 21px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 35px;
    width: 210px;
    height: 55px;
}
.btn:hover{
    background-color:darkslategray;
}



/* Parallax element css */




.parallax div{
 display:flex;
 
 width: 100%;
 height: 500px;
 

}
.parallax div:nth-child(1){
    background-image: url(images/parallax\ 1.png);
    background-size:cover;
   
    overflow: hidden;
    display: grid;
   
    background-attachment: fixed;
}



/* about us section */

.about{
    height: 700px auto;
width: 100%;
background-color: #e6f1f8;
padding-top: 220px;
padding-left: 125px;
place-items: left;

font-family: 'Poppins', sans-serif;
padding-bottom: 70px;
padding-right: 0;
}
.about-head{
  font-size: 50px;
    color: #2863A2;
}
.about-head span{
  font-size: 55px;
}

.about-text{
    font-weight: 500;
  
    font-size: 25px;
    padding-bottom: 20px;
}
.about-text span{
  font-size: 25px;
}

.text1,.text2,.text3 span{
  font-size: 55px;
}

/* parallax 2 */
.parallax2{
    background-image: url(images/parallax\ 2.png);
    background-size:cover;
   
    overflow: hidden;
    display: grid;
   
    background-attachment: fixed;
}


/* products section css */

.products{
    height: auto ;
    width: 100%;
    background-color: #e6f1f8;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: relative;
    
}
.products h1{
    justify-content: left;
    position:absolute;
    align-items: left;
  top: 80px;
  left: 122px;
}
.roow{
  display: flex;
  justify-content: center;
    padding-left:80px;
    padding-top: 90px;
    padding-bottom: 20px;
}
.card{
  
  padding-top: 10%;
  padding-bottom: 2%;
    display: flex;
    align-items: center;
    background-color: #e6f1f8;
    border: 0px;
    
    margin: 0;
    position: relative;
}
.card a{
    font-size:21px;
    color:black;
    background-color: #92C0E2;
    position: absolute;
    top: 340px;
    width: 200px;
}

.card-img-top{
  width:auto;
  height:300px;
}
.products h1{
  font-size: 45px;
}
.products span{
  font-size: 45px;

}@media only screen and (max-width: 1150px) {
  .card a{
  
    position: absolute;
    top: 310px;
    
}}
@media screen and (max-width: 900px) {
  .card a{
  
    position: absolute;
    top: 300px;
    
}}
@media screen and (max-width: 600px) {
  .card a{
  
    position: absolute;
    top: 245px;
    
}




.roow{
  padding-left:3px;
  padding-top: 100px;
  padding-bottom: 20px;
}
.about-head
  {
    font-size: 30px;
  }
  .about-head span
  {
    font-size: 30px;
  }
  .products h1{
  font-size: 30px;

  }
  .about-text{
    font-size: 17px;
  }
  .GIT h1{
    font-size: 30px;
  }
  .text1,.text2,.text3 span{
    font-size: 30px;
  }
  .GIT{
    padding: 0;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 890px) {
  .card a{
  
    position: absolute;
    top: 229px;
    
}
}
 /* footer */
 .GIT{
    background-color:#7fa2c6;
    color: white;
    height:125px;
    display: flex;
    align-items: center;
}

footer{
  padding-top: 145px;
  
    height: 500px auto;
    width:100%;
    background-color: #2863A2;
    color:#f0f9ff;
}

 
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:400;
    font-size:23px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:15.5px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
 
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  .btn2{
    background-color: white;
    color:#2863A2;
    opacity:100%;
    
  }
  
  
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  

  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  .footer-dark .item{
    padding-bottom: 30px;
  }

  

  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }
  
.fab{
 color: white;
  padding-left: 20px;
  
}

.search-box{
	position: relative;
	padding: 10px;
}
.search-wrapper {

 
	margin: auto;
	margin-top: 1px;
}
.search-box {
  background-color:#588dbf
  ;
	width: 80%;
    height: 250px;
	border: 0px solid #ccc;
  outline: 0;
  border-radius: 15px;
}
.search-box:focus {
	box-shadow: 0 0 15px 5px #a1cad6;
	border: 2px solid #a8c1d9;
}

.search-box:not(:valid) ~ .close-icon {
	display: none;
}

.btn-light{
  color: #2863A2;
  background: #a8c1d9
  ;
  border: 1px #a8c1d9  solid;
  padding: 5px 10px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 11pt;
  outline: none;
}
.btn-light a{
  color: #2863A2;
 
}

.btn-light:hover {
  
  color: #2863A2;
  background: #F7F7F7;
}

.btn-light:active {
  box-shadow: inset 1px 1px 1px #DFDFDF;   
}
.submit{
padding-right: 170px;
 float: right;
}


@media screen and (max-width: 768px) {
  /* For mobile phones: */
.about{
  padding: 100px 100px;
 display: grid;
  align-items:center;
}

.about-text span{
  display: none;
}
}

/* -------------------------about us page --------------------------------- */
.banner{
  display: grid;
  justify-content: center;
}

.banner{ 
height: 100vh;
background-image: url("images/Mask.png");
background-position: center;
background-repeat: no-repeat;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size: cover;
overflow: hidden;
}

/* .banner #modelbanner{
height: 60%;} */
.banner2{
  height: 600px;
  width: 100%;
  background-image: url("images/coal.png");
  background-position: center;
background-repeat: no-repeat;
background-size: cover;
overflow: hidden;
}
.banner3{
background-color: #c7d6e3;
height: 600px;
justify-content: center;
}
.banner4{  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-image: url("images/furniture.png");
    filter: brightness(80%);
 
  height:700px;
  width: 100%;
  
}
.banner5{
  background-image: url("images/shoes.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height:700px;
  width: 100%;
}
.banner6{
  background-image: url("images/cycles.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height:700px;
  width: 100%;
}

.abouttext{

  margin:150;
  padding-left:150;
padding-top:100;
/* justify-content: center; */
/* align-items: center; */
/* align-content: center; */
}
.head{
  text-align: center;
  width: 100%;
  font-size: 50px;
  font-weight: 500;}


   
    .but{
      margin-bottom: 25px;
     }
    
     .ban{
      font-size: 55px;
      line-height: 5px;
       margin: 0;
       padding: 0;
       margin-bottom: 30px;
     }
     .ban span{
       margin-top: -7px;
     }
     
   .text2{
    display: block;
    justify-content: center;
    padding-left: 70px;
    padding-top: 170px;
    
    }
    
    .text3{
      display: block;
      justify-content: center;
      padding-left: 70px;
      padding-top: 140px;
     }
    @media screen and (max-width: 1140px) {
      .ban{
        font-size: 55px;
        background-size: contain;
      } 
      .banner, .banner2, .banner3, .banner4, .banner5, .banner6{
        height: 550px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;}
      }
   
      @media screen and (max-width: 838px) {
        .ban{
          margin-bottom: 17px;
          background-size: contain;
        }
        .banner, .banner2, .banner3, .banner4, .banner5, .banner6{
          height: 420px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          overflow: hidden;}
        }
      @media screen and (max-width: 550px) {
        .ban{
          font-size: 15px;
          background-size: contain;
        } 
        .banner, .banner2, .banner3, .banner4, .banner5, .banner6{
          height: 300px;background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          overflow: hidden;
        }
        }
        